* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .container{ 
  max-width: 1200px; 
  width: 100%; 
  margin: 0 auto; 
  padding: 0 15px; 
}  */
body {
  background-image: url(./img/cosmo.avif);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: left;
  display: flex;
  animation: cosmo 3s infinite linear;
  justify-content: center;
  align-items: center;
}
.moon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(./img/moon.jpg);
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.502) inset;  
  animation: cosmo 15s infinite linear;
}

@keyframes cosmo {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
